@font-face {
    font-family: 'footlight mt';
    src: url('fonts/Footlight\ MT\ W04\ Bold.ttf') format('truetype');
   
  }
  
 
  
  * {
    font-family: 'NexaRegular', 'footlight mt', 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    /* width: 100vw;
    overflow-x: hidden; */
}

.navbar {
    height: 120px;
    background-color: #611A1F;
    
}

.navbar-nav .nav-item .nav-link {
    font-size: 25px;
    color: white;
    margin: 5px ;
    gap: 10px;
    padding: 20px;
}


.navbar-logo {
    width: 0px;
    height: 100px;
    margin-left: 80px;
}

.social-icon-main {
    position: absolute;
    top: 50%;
    right: 05%;
    transform: translateY(-50%);
} 
.social-icon {
    color: white;
    font-size: 30px;
    margin: 10px;
    
}



.section-1 {
    background-color: #faf2f2;
    color: white;
    height: 170vh;
    position: relative;
    font-family: footlight mt;
    
}

.header-background {
    width: 60%;
    height: 167vh;
    background-color: #611A1F;
    position: absolute;
    border-bottom-right-radius: 100px;
    
}

.section-1 img {
    position: absolute;
    top: 0%;
    right: 0;
    width: 60%;
    height: 720px;
    max-height: 60%;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 30px;
    z-index: 999;
    
}


.header-content {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 1000;
    
}

.header-content h1 {
    font-size: 90px;
    margin-top: 15%;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: footlight mt;
    
}

.header-content p {
    font-size: 30px;
    margin-top: 25px;
    font-weight: 900;
    
}

.header-content .contact-us-btn {
    background-color: #EBC6A4;
    color: #611A1F;
    padding: 10px;
    margin-top: 55px;
    border-radius: 50px;
    width: 300px;
    height: 70px;
    font-size: 30px;
    font-weight: 900;
}

.header-content .contact-us-btn:hover {
    background-color: #611A1F;
    color: #EBC6A4;
    transition: 0.5s;
    border: 3px solid #EBC6A4;

}

.header-content h2 {
    position: absolute;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    font-weight: 900;
  
    
    
}

.header-content h3 {
    position: absolute;
    font-size: 40px;
    margin-top: 180px;
    text-align: center;
    font-weight: 900;
    
    
}

.experience-info {
    color: #ebc6a4;
    margin-top: 4rem;
}

.feedback-heading h2 {
    position: absolute;
    bottom: 370px;
    right:80px;
    
    z-index: 1000;
    color: #611A1F;
    padding: 10px;
    font-size: 50px;
    font-family: footlight mt;
    
    
}



 .feedback-container {
            position: absolute;
            top: 83%;
            left: 81%;
            transform: translate(-50%, -50%);
            width: 550px;
            height: 350px;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            
        }
        .feedback-container.active {
            opacity: 1;
        }
        .feedback {
            text-align: center;
            padding: 20px;
            
        }
        .feedback p {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 15px;
            color: #000000;
        }
        .feedback .font-weight-bold {
            font-weight: bold;
        }
        .feedback .fa {
            font-family: FontAwesome; /* Assuming FontAwesome for stars */
            margin-right: 5px;
        }
        .feedback .fa-star.checked {
            color: gold;
        }



.section-2 {
    background-color: #faf2f2;
    height: 780px;
    position: relative;
    
    
}

.section-2 img {
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    z-index: 1000;
    left: -100px;
    top: -200px;
   
}

 .section-heading {
    font-size: 65px;
    text-align: center;
    color:#611A1F;
    padding-top: 90px;
    font-weight: 900;
    font-family: footlight  mt;
    

}

.section-2 .container p{
    font-size: 30px;
    color:#611A1F;
    line-height: 1.2;
    font-weight: 400;
    width: 100%;
    text-align: justify;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
   

}
.section-3 {
    padding-top: 1rem;
    padding-bottom: 5rem;
    position: relative;
    background-color: #f9f9f9;

    
    
}



.image-subtitle-link {
    text-decoration: none;
    color: white;
}

.blurred-image {
    width: 92%;
    height: 750px;
    filter:  blur(2px); 
    margin-left:  35px;
    border-radius: 50px;
    border: 5px solid #611A1F;

}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 55%; 
    height: 65%;
    opacity: 0.8; 
    border-top-left-radius: 65%;   
      border-top-right-radius: 65%;
}

.image-title, .image-subtitle {
    position: absolute;
    color: white; 
    
    width: 100%;
}

.image-title {
    top: 10%;
    left: 7%; 
    font-size: 2rem; 
    font-weight: bold;
    text-align: center;
    font-family: footlight mt;
}

.image-subtitle {
    top: 90%; 
    font-size: 1.5rem; 
    font-weight: normal;
    text-align: center;
}

.circle {
    position: absolute;
    top: 90%;
    left: 46%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ebc6a4;
    z-index: 999;
}

 .image-subtitle  {
    width: 300px;
    height: 30px;
    margin: 10px;
    z-index: 1000;
    top: 86%;
    left: 33%;
}


.satisfaction-section {
    padding: 10px;
    background-color: #f9f9f9;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    font-size: 90px;
    text-align: center;
    color: #611A1F;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5%;
    font-weight: 500;
    font-family: footlight mt;}

.feature-item {
    margin-bottom:70px;
}

.feature-item h4{
    font-size: 35px;
    color: #611A1F;
    font-family: footlight mt;

}

.feature-item p {
    font-size: 20px;
    color: #611A1F;
    text-align:center;    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 400;
}

.feature-icon {
    height: 30px;
    width: auto;
    text-align:justify;
    margin-top: 15px;
}

.feature-description {
    font-size: 25px;
    color: #611A1F;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.contact-section p {
    font-size: 30px;
    color: #611A1F;
    font-family: footlight mt;
}

.contact-section .btn {
    padding: 10px ;
    background-color: #ebc6a4;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    margin-bottom:80px;
    width: 230px;

}

.contact-section .btn:hover {
    background-color: #611A1F;
    color: white;
}



.section-4 {
    position: relative;
    background-color: #ebc6a4;
    padding: 50px;
}

 .image {
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    z-index: 10;
    left: -80px;
    top:-68%px;
   
}
.section-5 {
    position: relative;
    text-align: center;
    color: white;
}

.section-5 .text-with-stars {
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: footlight mt;

}

.section-5 img {
    width: 100%;
    height: 45vh; 
    filter: blur(2px); 
    object-fit: cover;
}

.text-with-stars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em; /* Increase the font size */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
}

.star {
    display: inline-block;
    width: 30px; /* Increase the width */
    height: 30px; /* Increase the height */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" d="M12 .587l3.668 7.568L24 9.748l-6 5.85 1.42 8.302L12 18.902l-7.42 4.998L6 15.598 0 9.748l8.332-1.593L12 .587z"/></svg>') no-repeat center center;
    background-size: contain;
}


.section-6 {
    background-color: #faf2f2;
}

.section-6 .container {
    text-align: center;
}

.section-6 h2 {
    font-size: 90px;
    margin: 20px;
    color:#611A1F;
    font-family: footlight mt;
    
}

.imageGallery {
    position: relative;
}

.gallery-img {
    border-radius: 50px;
    margin: 10px;
    border: 4px solid #611A1F;  
}

.gallery-img:first-of-type {
    border-radius: 100px;
    width: 900px;
    height: 500px;
    margin-left: -100px;
}

.gallery-img:nth-of-type(2) {
    position: absolute;
    top: 10px;
    left: 880px;
    width: 400px;
    height: 250px;
}

.gallery-img:nth-of-type(3) {
    position: absolute;
    top: 280px;
    left: 880px;
    width: 400px;
    height: 200px;
}

.gallery-img-1 {
    border-radius: 50px;
    margin: 10px;
    border: 4px solid #611A1F;  
    margin-left: -40px;
}

.gallery-img-1:first-of-type {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    height: 250px;
}

.gallery-img-1:nth-of-type(2) {
   position: absolute;
    top: 280px;
    left: 10px;
    width: 400px;
    height: 200px;
}

.gallery-img-1:nth-of-type(3) {
    border-radius: 100px;
    width: 900px;
    height: 500px;
    margin-left:450px;
}



a {
    color: #611A1F;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
}


.section-7 {
    background-color: #faf2f2;
}

.section-7 .container {
    text-align: center;
}

.section-7 h2 {
    font-size: 80px;
    color: #611A1F;
    font-family: footlight mt;
}

.guest-img {
    border-radius: 50px;
    margin-top:30% ;
}

.guest-name {
    margin-top: 10px;
    font-size: 18px;
    color: #611A1F;
}



.section-8{
    padding: 5px;
    background-color: #faf2f2;
}



.section-8 h2 {
    font-size: 80px;
    padding: 70px;
    margin-bottom: 10px;
    margin-top: -50px;
    color: #611A1F;
    font-family: footlight mt;  
}

.blog-img {
    height: 300px;
    width: 350px;
    border-radius: 50px;
    border: 4px solid #611A1F;
}

.blog-img-1 {
    height: 300px;
    width: 350px;
    border-radius: 50px;
    border: 4px solid #611A1F;
}

.blog-img-2 {
    height: 300px;
    width: 350px;
    border-radius: 50px;
    border: 4px solid #611A1F;
   
}


.blog-text {
    border-top: 6px solid #611A1F;
    padding: 20px;
    color: #611A1F;
    text-align: left;
    margin-top: 60px;
    border-top: 3px solid #611A1F;
    margin-left: 90px;
;
}

.blog-text h5 {
    font-size: 26px;
    margin-bottom: 40px;
    font-weight: 600;
    font-family: footlight mt;
}

.blog-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.read-more a {
    color: #611A1F;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 85px;
    font-size: 15px;

}













/* Media Queries for Mobile Responsiveness */




@media (max-width: 768px) {

 
    .navbar {
        height: 100px;
        
        
    }
    .nav-link {
        color: #ffffff; /* White text color */
        padding: 10px;
        width: 100%;
        text-align: center;
        z-index: 1000;
        
    }
   .collapse {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #611A1F;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 1002;
        transition: 0.5s;
    }
    

    .social-icons{
        display: none;
    }
    
  
    .header-background {
        width: 100%;
        height: 520px;
        border-bottom-right-radius: 0px;
        border-radius: 0%;
        z-index: 100;
        background-color: #611A1F;
        top: auto;
        
       
        
        
        
        
    }
    .navbar-logo {
        width: 30%;
        height: 20%;
        margin-left:15%;
        
       
       
    }

    .section-1 {
        height: 120vh;
        background-color: #ffffff;
        width: 100%;
        border-bottom-right-radius: 0px;
        
    }

    .section-1 img {
        position: absolute;
        width: 100%;
        height:298px;   
        
        margin-top:0%  ;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
      
        
    }
    
   


    .header-content {
        left: 15%;
        
     
    }

    .header-content h1 {
        font-size: 30px;
        margin-top: 20%;
        color: #ffffff;
       
       
        width: 100%;
        text-align: center;
        
    }

    .header-content p, .header-content .contact-us-btn {
        font-size: 11px;
        width: auto;
        height: auto;
       
        margin-top:30%;
        color: #ffffff;
        text-align: center;
        
            
    }

    .contact-us-btn {
        font-size: 10px;
        margin-top: 10px;
        color: #611A1F;
        border: 1px solid #611A1F;
        margin-left: 30%;
        
    }

    .header-content h2 {
        font-size: 23px;
        margin-top: 15%;
        color: #EBC6A4;
        margin-left: 13%;
       

    }
    .header-content h3 {
        font-size: 23px;
        margin-top: 25%;
        color: #EBC6A4;margin-left: 2%;
        text-align: center;
        

    }

    .header-content .contact-us-btn {
        font-size: 15px;
        margin-top: 10px;
        color: #611A1F;
        border: 1px solid #611A1F;
    }


    

    .feedback-heading h2 {
        font-size: 28px;
        top: 52%;
        margin-right: 6%;
       font-weight: 700;
       color: #000000;
       position: absolute;
       
       
    
       
    }

.feedback-container {
    position: absolute;
    top: 75%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 330px;
    border-radius: 50px;
 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
 
}

       
.feedback {
      position: static;
       bottom: 200px;
      
       
        width: 70%;
        height:20%;
        
      
       
       
       
    }

    

    .feedback p {
        
        font-size:90%;
        margin-top: -100px;
        font-family:Arial, Helvetica, sans-serif;
        color: #000000;
        margin-bottom: 100px;
        width: 150%;
        text-align: center;
        margin-left: -25%;
    
        
       
        
        
    }

    

    .section-2 {
        position: static;
        height: 700px;
        background-color: #ffffff;
        top: 259px;
        
    }

    .section-2 img {
        position: absolute;
        width: 25%;
        height: 20%;
        left: 0;
        top: -20%;
        
    }

   
    .section-heading {
        top: 100px;
        font-size: 50px;
        padding: 15px;
      
        
        
        
    }

   

    .section-2 .container p {
        font-size: 16px;
        width:93%;
        margin-left: 6.5%;
        margin-top: 10%;
        
        
    }
  

   .section-3 {
    display: non  ;
   }
    

    .blurred-image {
        width: 80%;
        height: auto;
        margin: auto 40px;
        margin-top: 20px;
        margin-left: 10%;
        object-fit: cover;
        

    }
    .overlay-image {
        width: 40%;
        height: 45%;
        margin-left:-20px;
        object-fit: cover;
        
    }

    .image-title {
        font-size: 7px;
        margin: 10px;
        margin-left: -13px;
        
    }

    .image-subtitle {
        font-size: 5rem;
        margin-left: -70px;
        top: 79%;
    }
    
    .circle {
        display: none;
        
       
    }

    .image{
        
        display: none;
    }
    
    .heading {
        font-size: 50px;
        
    }
    .feature-item {
        width: 100%;
        height: 20%;
        margin-bottom: 0%;
        
    }

    .feature-item h4 {
        font-size: 25px;
        
    }

    .feature-description {
        font-size: 111px;
        

        
        
    }

    .contact-section p, .contact-section .btn {
        font-size: 18px;
        
    }

    .section-5 {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .section-5 .text-with-stars {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      
    
    }
    
    .section-5 img {
        width: 100%;
        height: 18vh; 
        filter: blur(2px); 
        object-fit: cover;
    }
    
    .text-with-stars {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em; /* Increase the font size */
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px; /* Adjust the gap as needed */
    }
    
    .star {
        display: inline-block;
        width: 30px; /* Increase the width */
        height: 30px; /* Increase the height */
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" d="M12 .587l3.668 7.568L24 9.748l-6 5.85 1.42 8.302L12 18.902l-7.42 4.998L6 15.598 0 9.748l8.332-1.593L12 .587z"/></svg>') no-repeat center center;
        background-size: contain;
    }
    

    .section-6 h2, .section-7 h2, .section-8 h2 {
        font-size: 40px;
        
    }
    .gallery-img:first-of-type {    
        width: 300px;
        height: 150px;
        top: 150px;
        margin-left:10px;
        border-radius: 50px;
        object-fit: cover;
        
    }
    
    .gallery-img:nth-of-type(2) {
        position: static;
        width: 300px;
        height: 150px;
        top: 20px;
        left: 80px;
        object-fit: cover;
    }

    .gallery-img:nth-of-type(3) {
        position: static;
        width: 300px;
        height: 150px;
        top: 150px;
        left: 80px;
        object-fit: cover;
    }

    .gallery-img-1  {
        display: none;
    }

    .guest-heading  {
        font-size: 30px;
        margin-bottom: 50px;
        
        
    }
    .guest-photo {
        margin-bottom: 10%;
        width: 34%;
        height: 20%;
        border-radius: 50%;
        margin-left: 13%;
         object-fit: cover;
        
    }
    
    .guest-name {
        font-size: 50%;
        
    }
    .blog-heading {
        font-size: 30px;
        margin-bottom: 80px;
    }

    
    .blog-img {
        position:absolute;
        height: 180px;
        width: 75%;
        margin-top: -55px;
        margin-left: -35%;
        margin-right: 10%;
        object-fit: cover;
        
    }

    .blog-img-1 {
        position:absolute;
        height: 180px;
        width: 75%;
        margin-top: 555px;
        margin-left: -35%;
        margin-right: 10%;
        border-radius: 50px;
        border: 4px solid hsl(356, 58%, 24%);
         object-fit: cover;
        

    }

    .blog-img-2 {
        position:absolute;
        height: 180px;
        width: 75%;
        margin-top: 1180px;
        margin-left: -35%;
        margin-right: 10%;
        border-radius: 50px;
        border: 4px solid #611A1F;
        
    }

    .blog-text {
        margin-left:17%;
        margin-top: 160px;
        width: 70%;
        height: 10%;
         
    }

    .blog-text h5 {
        font-size: 25px;
    }

    .blog-text p {
        font-size: 18   px;
    }

    a {
        font-size: 15px;
    }
    
    .footer {
        padding: 
    }
    .footer h5 {
        font-size: 20px;
        height: -20px;
        margin-bottom: 5px;
        margin-left: -75px;
        padding: 8px;
        width: 195px;
        text-align: center;
        
    }

  

    .footer p {
        font-size: 10px;
        margin-left: -35px;
        margin-right: 1px; 
        padding: 2px;
        width: 105px;
        text-align: center;
        margin-bottom: 0px;
       
    }
    .footer img {
        width: 50px;
        height: 50px;
        display: none;
    }
    .company-logo {
        display: none;
    }
}



@media (max-width:391px) {
    .section-1 {
        height: 125vh;
        background-color: #ffffff;
        width: 100%;
        border-bottom-right-radius: 0px;
    }
    
    .feedback-heading h2 {
        font-size: 25px;
        top: 52%;
        margin-right: 1%;
       font-weight: 700;
       color: #000000;
       position: absolute;
       margin-left: 20px;
       
    
       
    }
     .image-title {
        font-size: 7px;
        margin: 10px;
        margin-left: -17px;
        
    }
    .section-2 {
        background-color: #ffffff;
        height: auto;
    }

.section-2 .container h2 {
   
    margin-left: -3%;
    margin-top: -7%;
}

.section-2 .container p {
    font-size: 15px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}

.feedback-container {
    position: absolute;
    top: 75%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 330px;
    border-radius: 20px;
 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
 
}


}

@media (max-width:378px) {
    .section-1 {
        height: 140vh;
        background-color: #ffffff;
        width: 100%;
        border-bottom-right-radius: 0px;
    }
    
    .feedback-heading h2 {
        font-size: 25px;
        top: 56%;
        margin-right: 2%;
       font-weight: 700;
       color: #000000;
       position: absolute;
       
    
       
    }

    .image-title {
        font-size: 7px;
        margin: 10px;
        margin-left: -17px;
        
    }

.feedback-container {
    position: absolute;
    top: 80%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 330px;
    border-radius: 20px;
 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
 
}

}




@media (min-width: 414px) and (max-width: 767px) {
   
    .header-content{
        left: 18%;
    }


    .blog-img-1 {
        position:absolute;
        height: 180px;
        width: 75%;
        margin-top: 530px;
        margin-left: -35%;
        margin-right: 10%;
        border-radius: 50px;
        border: 4px solid #611A1F;
    }

    .blog-img-2 {
        position:absolute;
        height: 180px;
        width: 75%;
        margin-top: 1090px;
        margin-left: -35%;
        margin-right: 10%;
        border-radius: 50px;
        border: 4px solid #611A1F;
    }
    .footer {
        padding: 30px;}
  
        .header-content h1 {
    
           
            
        }



.image-title {
    font-size: 7px;
    margin: 10px;
    margin-left: -27px;
    
}

.feedback-heading h2 {
    font-size: 25px;
    top: 49%;
    margin-right: 5%;
   font-weight: 700;
   color: #000000;
   position: absolute;
   margin-left: 1px;
   

   
}
.section-2 {
    background-color: #ffffff;
    height: auto;
}
.section-2 .container h2 {
position: absolute;
margin-left: 3%;
margin-top: 230%;
width: 90%;
z-index: 1100;

}

.section-2 .container p {
font-size: 16px;
width: 90%;
margin-left: 5%;
margin-top: 10%;
}

.feedback-container {
position: absolute;
top: 70%;
left: 49%;
transform: translate(-50%, -50%);
width: 350px;
height: 330px;
border-radius: 20px;

background-color: #ffffff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
opacity: 0;
transition: opacity 0.5s ease-in-out;

}


}




@media (min-width: 411px) and (max-width: 767px) {
   
  .header-content{
    left: 17%;
}
    
.feedback-heading h2 {
    font-size: 25px;
    top: 49%;
    margin-right: 5%;
   font-weight: 700;
   color: #000000;
   position: absolute;
   margin-left: 1px;
   

   
}
.section-2 {
    background-color: #ffffff;
    height: auto;
}
.section-2 .container h2 {
position: absolute;
margin-left: 3%;
margin-top: 230%;
width: 90%;
z-index: 1100;

}

.image-title {
    font-size: 7px;
    margin: 10px;
    margin-left: -27px;
    
}


.section-2 .container p {
font-size: 16px;
width: 90%;
margin-left: 5%;
margin-top: 10%;
}

.feedback-container {
position: absolute;
top: 70%;
left: 49%;
transform: translate(-50%, -50%);
width: 350px;
height: 330px;
border-radius: 20px;

background-color: #ffffff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
opacity: 0;
transition: opacity 0.5s ease-in-out;

}
}



@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        height: 130px;
    }
    .nav-link {
        color: #ffffff; /* White text color */
        padding: 10px;
        width: auto;
        text-align: center;
        z-index: 1000;
    }
    .collapse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #611A1F;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 1002;
        transition: 0.5s;
    }

    .social-icons {
        display: none;
    }

    .image-title {
        font-size: 7px;
        margin: 10px;
        margin-left: -27px;
        
    }
    

    .header-background {
        width: 100%;
        height: 950px;
        border-bottom-right-radius: 0px;
        border-radius: 0%;
        z-index: 100;
        background-color: #611A1F;
        top: auto;
    }
    .navbar-logo {
        width: 30%;
        height: auto;
        margin-left: 15%;
    }

    .section-1 {
        height: 120vh;
        background-color: #ffffff;
        width: 100%;
        border-bottom-right-radius: 0px;
    }

    .section-1 img {
        position: absolute;
        width: 100%;
        height: 558px;   
        margin-top: 0%;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    .header-content {
        left: 15%;
    }

    .header-content h1 {
        font-size: 70px;
        margin-top: 15%;
        color: #ffffff;
       
        width: 100%;
        text-align: center;
    }

    .header-content p, .header-content .contact-us-btn {
        font-size: 26px;
        width: auto;
        height: auto;
        margin-top: 10%;
        color: #ffffff;
        text-align: center;
    }

    .contact-us-btn {
        font-size: 25px;
        margin-top: 10px;
        color: #611A1F;
        border: 1px solid #611A1F;
        margin-left: 50%;
        margin-right: auto;
        width: 300px;
    }

    .header-content h2 {
        font-size: 40px;
        margin-top: 15%;
        color: #EBC6A4;
        margin-left: 22%;
        margin-right: auto;
      
        text-align: center;
    }

    .header-content h3 {
        font-size: 40px;
        margin-top: 35%;
        color: #EBC6A4;
        margin-left: 20%;
        margin-right: auto;
        text-align: center;
    }

    .header-content .contact-us-btn {
        font-size: 25px;
        margin-top: 10px;
        color: #611A1F;
        border: 1px solid #611A1F;
        margin-left: 40%;
    }

    .feedback-heading h2 {
        font-size: 38px;
        top: 74%;
        margin-right: 25%;
        font-weight: 700;
        color: #000000;
        position: absolute;
        margin-left: 70px;
    }

    .feedback-container {
        position: absolute;
        top: 85%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 720px;
        height: 390px;
        border-radius: 20px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .feedback {
        position: static;
        bottom: 200px;
        width: 70%;
        height: 20%;
    }

    .feedback p {
        font-size: 20px;
        margin-top: -80px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        margin-bottom: 100px;
        width: 150%;
        text-align: center;
        margin-left: -25%;
    }

    .section-2 {
        position: static;
        height: 700px;
        background-color: #ffffff;
        top: 259px;
    }

    .section-2 img {
        position: absolute;
        width: 25%;
        height: 20%;
        left: 0;
        top: -20%;
    }

    .section-heading {
        top: 100px;
        font-size: 50px;
        padding: 15px;
    
    }

    .section-2 .container p {
        font-size: 20px;
        width: 90%;
        margin-left: 6%;
        margin-top: 10%;
    }

    

    .blurred-image {
        width: 80%;
        height: auto;
        margin: auto 40px;
        margin-top: 20px;
        margin-left: 10%;
    }

    .overlay-image {
        width: 30%;
        height: 45%;
        margin-left: -10px;
    }

    .image-title {
        font-size: 7px;
        margin: 10px;
        margin-left: 0px;
    }

    .image-subtitle {
        font-size: 1rem;
        margin-left: -70px;
        top: 79%;
    }

    .circle {
        display: none;
    }

    .image {
        width: 130px;
        height: 120px;
        left: 0px;
        top: 340%;
        z-index: 1000;
        position: fixed;
    }

    .heading {
        font-size: 50px;
    }

    .feature-item h4 {
        font-size: 25px;
    }

    .feature-description {
        font-size: 20px;
    }

    .contact-section p, .contact-section .btn {
        font-size: 18px;
    }

    .section-5 span {
        font-size: 90px;
        text-decoration: shadow;
        width: 10%;
        margin-left: -12%;
    }

    .section-6 h2, .section-7 h2, .section-8 h2 {
        font-size: 40px;
    }

    .gallery-img:first-of-type {
        width: 550px;
        height: 350px;
        top: 150px;
        margin-left: 130px;
        border-radius: 50px;
    }

    .gallery-img:nth-of-type(2) {
        position: static;
        width: 550px;
        height: 350px;
        top: 30px;
        margin-left: 130px; 
    }

    .gallery-img:nth-of-type(3) {
        position: static;
        width: 550px;
        height: 350px;
        top: 150px;
        margin-left: 130px;
    }

    .gallery-img-1 {
        display: none;
    }

    .guest-heading {
        font-size: 80px;
        margin-bottom: 50px;
    }

    .guest-photo {
        margin-bottom: 10%;
        width: 34%;
        height: 20%;
        border-radius: 50%;
        margin-left: 13%;
    }

    .guest-name {
        font-size: 50%;
    }

    .blog-heading {
        font-size: 30px;
        margin-bottom: 80px;
    }

    .blog-img {
        position: absolute;
        height: 200px;
        width: 500px;
        margin-top: -55px;
        margin-left: 45%;
        margin-right: 10%;
    }

    .blog-img-1 {
        position: absolute;
        height: 200px;
        width: 500px;
        margin-top: 455px;
        margin-left: -55%;
        margin-right: 10%;
        border-radius: 50px;
        border: 4px solid #611A1F;
    }

    .blog-img-2 {
        position: absolute;
        height: 200px;
        width: 500px;
        margin-top: 930px;
        margin-left: -145%;
        margin-right: 10%;
        border-radius: 50px;
        border: 4px solid #611A1F;
    }

    .blog-text {
        margin-left: 17%;
        margin-top: 160px;
        width: 70%;
        height: 10%;
    }

    .blog-text h5 {
        font-size: 25px;
    }

    .blog-text p {
        font-size: 18px;
    }

    .section-8 a {
        font-size: 1px;
    }

    .footer {
        padding: 20px;
    }

    .footer h5 {
        font-size: 18px;
        margin-bottom: 10px;
        padding: 8px;
        width: auto;
        margin-left: -39px;
    }

    .footer p {
        font-size: 12px;
        margin-left: -35px;
        margin-right: 1px;
        padding: 5px;
        width: auto;
    }

    .footer img {
        width: 50px;
        height: 50px;
        display: none;
    }

    .company-logo {
        display: none;
    }
}
@media (min-width: 768px) and (max-width:800px) {
    .section-1 {
        height: 160vh;
        background-color: #ffffff;
        width: 100%;
        border-bottom-right-radius: 0px;
    }
    
    .feedback-container {
        position: absolute;
        top: 80%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 720px;
        height: 390px;
        border-radius: 20px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .image-title {
        font-size: 7px;
        margin: 10px;
        margin-left: -27px;
        
    }
    

    .feedback {
        position: static;
        bottom: 200px;
        width: 70%;
        height: 20%;
    }
    .header-content h2 {
        font-size: 40px;
        margin-top: 15%;
        color: #EBC6A4;
        margin-left: 20%;
        margin-right: auto;
       
        text-align: center;
    }

    .header-content h3 {
        font-size: 40px;
        margin-top: 35%;
        color: #EBC6A4;
        margin-left: 17%;
        margin-right: auto;
        text-align: center;
    }
}


@media (max-width: 378px)  {
   
    .feedback-heading h2 {
        font-size: 25px;
        top: 44%;
        margin-right: -3%;
       font-weight: 700;
       color: #000000;
       position: absolute;}
      
       .section-1 {
        height: 125vh;
        background-color: #ffffff;
        width: 100%;
        border-bottom-right-radius: 0px;
    }
    
    .feedback-heading h2 {
        font-size: 25px;
        top: 52%;
        margin-right: 1%;
       font-weight: 700;
       color: #000000;
       position: absolute;
       margin-left: 20px;
       
    
       
    }
    .section-2 {
        background-color: #ffffff;
        height: auto;
    }

    .image-title {
        font-size: 7px;
        margin: 10px;
        margin-left: -21px;
        
    }
    

.section-2 .container h2 {
   
    margin-left: -3%;
    margin-top: -7%;
}

.section-2 .container p {
    font-size: 15px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}

.feedback-container {
    position: absolute;
    top: 75%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 330px;
    border-radius: 20px;
 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
 
}

    
       
    
   
    }





    @media (max-width: 378px)  {
   
        .feedback-heading h2 {
            font-size: 25px;
            top: 84%;
            margin-right: -3%;
           font-weight: 700;
           color: #000000;
           position: absolute;}
          
           .section-1 {
            height: 125vh;
            background-color: #ffffff;
            width: 100%;
            border-bottom-right-radius: 0px;
        }
        
        .feedback-heading h2 {
            font-size: 25px;
            top: 52%;
            margin-right: 1%;
           font-weight: 700;
           color: #000000;
           position: absolute;
           margin-left: 20px;
           
        
           
        }
        .section-2 {
            background-color: #ffffff;
            height: auto;
        }
    
    .section-2 .container h2 {
       
        margin-left: -3%;
        margin-top: -7%;
    }
    
    .section-2 .container p {
        font-size: 15px;
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    
    .feedback-container {
        position: absolute;
        top: 75%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 330px;
        border-radius: 20px;
     
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
     
    }
    
        
           
        
       
        }


        /* @media only screen and (min-height: 740px)
{
    .feedback-heading h2 {
        font-size: 25px;
        top: 84%;
        margin-right: -3%;
       font-weight: 700;
       color: #000000;
       position: absolute;}
      
       .section-1 {
        height: 125vh;
        background-color: #ffffff;
        width: 100%;
        border-bottom-right-radius: 0px;
    }
    
    .feedback-heading h2 {
        font-size: 25px;
        top: 56%;
        margin-right: 1%;
       font-weight: 700;
       color: #000000;
       position: absolute;
       margin-left: 20px;
       
    
       
    }
    .section-2 {
        background-color: #ffffff;
        height: auto;
    }

.section-2 .container h2 {
   
    margin-left: -3%;
    margin-top: -6%;
}

.section-2 .container p {
    font-size: 15px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
}

.feedback-container {
    position: absolute;
    top: 80%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 330px;
    border-radius: 20px;
 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
 
}

    
       
    
   
 }
    */
   